@import "minxin-colors";

// 默认色
$default-color: $palette-blue-grey-50;
$default-color-dark:  "223,225,230";
$default-color-light: "223,225,230";

// 主题色
$primary-color: "245, 60, 50" !default;
$primary-color-dark: "230, 0, 18" !default;
$primary-color-light: "230, 0, 18" !default;

// 字体
$font-family-primary: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !default;
// 主字号
$font-size-base: 14px !default;
// 主按钮文本色
$text-color-base: $color-dark-contrast !default; 

// 圆角，包括：button、select等
$border-radius: 3px !default;
// 边框色，包括按钮、输入框、分页
$border-color: "165, 173, 186" !default;
// 条目hover背景色，包括：select、dropdown、table、datepicker、tree、menu、calendar
$item-hover-bg-color-base: "235, 236, 240" !default;
// 条目selected背景色，包括：select、menu等
$item-selected-bg-color-base: "255, 247, 231" !default;

// Button 细化样式变量:
// 次按钮背景色
$secondary-color: $palette-blue-grey-50 !default;
$secondary-color-dark: "223,225,230" !default;
$secondary-color-light: "223,225,230" !default;
// 次按钮文本色
$button-secondary-text-color: $palette-grey-900 !default;

// Table 细化样式变量：
// 表头背景色
$table-header-background-color: "241, 242, 245";
// 表头文字颜色
$table-header-text-color: "33, 33, 33";
// 表格分割线颜色
$table-border-color-base: "193, 199, 208";
// 表格行hover背景色
$table-row-hover-bg-color: "235, 236, 240";

// 向下兼容
$color-primary: $palette-blue-600 !default;
$color-primary-dark: $palette-blue-800 !default;
$color-primary-light: $palette-blue-400 !default;

// 辅色
$color-accent: $palette-green-600 !default;
$color-accent-dark: $palette-green-800 !default;
$color-accent-light: $palette-green-400 !default;


// cyan主题
//$color-primary: $palette-cyan-500 !default;
//$color-primary-dark: $palette-cyan-700 !default;
//$color-accent: $palette-light-blue-500 !default;

// orange主题
//$color-primary: $palette-orange-500 !default;
//$color-primary-dark: $palette-orange-700 !default;
//$color-accent: $palette-deep-orange-500 !default;
