@import "minxin-colors";

// 默认色
$default-color: $palette-grey-300;
$default-color-dark:  $palette-grey-400;
$default-color-light: $palette-grey-200;

// 主题色
$primary-color: "7,72,166" !default;
$primary-color-dark: "3,61,143" !default;
$primary-color-light: "24,87,178" !default;

// 字体
$font-family-primary: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !default;
// 主字号
$font-size-base: 14px !default;
// 主文本色
$text-color-base: $color-dark-contrast !default;   

// 边框色 
$border-color: $palette-grey-400 !default; 
// 条目hover背景色，包括：select、dropdown、table、datepicker、tree、menu、calendar
$item-hover-bg-color-base: $palette-blue-50 !default;
// 条目selected背景色，包括：select、menu等
$item-selected-bg-color-base: "247,247,247" !default;

// Button 细化样式变量:
// 次按钮背景色
$secondary-color: $palette-grey-300 !default;
$secondary-color-dark: $palette-grey-400 !default;
$secondary-color-light: $palette-grey-200 !default;
// 次按钮文本色
$button-secondary-text-color: $color-light-contrast !default;

// Table 细化样式变量：
// 表头背景色
$table-header-background-color: "247,247,247";
// 表头文字颜色
$table-header-text-color: "102, 102, 102";
// 表格分割线颜色
$table-border-color-base: "233,233,233";

// 辅色
$color-accent: $palette-green-600 !default;
$color-accent-dark: $palette-green-800 !default;
$color-accent-light: $palette-green-400 !default;

// cyan主题
//$color-primary: $palette-cyan-500 !default;
//$color-primary-dark: $palette-cyan-700 !default;
//$color-accent: $palette-light-blue-500 !default;

// orange主题
//$color-primary: $palette-orange-500 !default;
//$color-primary-dark: $palette-orange-700 !default;
//$color-accent: $palette-deep-orange-500 !default;
