@import "minxin-colors";

$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-primary-light: $palette-indigo-400 !default;
$color-accent: $palette-green-600 !default;
$color-accent-light: $palette-green-500 !default;


// cyan主题
//$color-primary: $palette-cyan-500 !default;
//$color-primary-dark: $palette-cyan-700 !default;
//$color-accent: $palette-light-blue-500 !default;

// orange主题
//$color-primary: $palette-orange-500 !default;
//$color-primary-dark: $palette-orange-700 !default;
//$color-accent: $palette-deep-orange-500 !default;
