@import "minxin-colors";

// 默认色
$default-color: $palette-grey-300;
$default-color-dark:  $palette-grey-400;
$default-color-light: $palette-grey-200;

// 主题色
$color-primary: "7,72,166" !default;
$color-primary-dark: "3,61,143" !default;
$color-primary-light: "24,87,178" !default;

// 次按钮
$secondary-color: $palette-grey-300 !default;
$secondary-color-dark: $palette-grey-400 !default;
$secondary-color-light: $palette-grey-200 !default;

// 字体
$font-family-primary: "Open Sans", "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif !default;
// 主字号
$font-size-base: 14px !default;
// 主文本色
$text-color-base: $color-dark-contrast !default;   
// 边框色 
$border-color: $palette-grey-400 !default; 

// Button 细化样式变量:
// 次按钮文本色
$button-secondary-text-color: $color-light-contrast !default;

// 辅色
$color-accent: $palette-green-600 !default;
$color-accent-dark: $palette-green-800 !default;
$color-accent-light: $palette-green-400 !default;

// cyan主题
//$color-primary: $palette-cyan-500 !default;
//$color-primary-dark: $palette-cyan-700 !default;
//$color-accent: $palette-light-blue-500 !default;

// orange主题
//$color-primary: $palette-orange-500 !default;
//$color-primary-dark: $palette-orange-700 !default;
//$color-accent: $palette-deep-orange-500 !default;
